@{
    ViewData["Title"] = "Privacy Policy";
}
@model MyViewModel


<div class="flex justify-around mb-5">
    <p>@Model.CompletelyFunded project(s) fully funded</p>
    <p>$@Model.AllFundsRaised raised</p>
    <p>@Model.TotalSupporters pledges made</p>

</div>
<div class="flex flex-col border-2 black">
    <div class="flex  border-b-2">
        <p class="basis-1/4">Project Title</p>
        <p class="basis-1/4">Funded</p>
        <p class="basis-1/4">Creator</p>
        <p class="basis-1/4">Action</p>
    </div>
    
    @foreach (Project project in Model.AllProjects)
    {
        
        int? LoggedInUserId = Context.Session.GetInt32("UserId");
        decimal percent = Math.Floor(((decimal)project.Total / (decimal)project.Goal) * 100);


                <div class="flex">
                    <p class="basis-1/4">@project.Title</p>
                    <p class="basis-1/4">@percent %</p>
                    <p class="basis-1/4">@project.Creator.FirstName</p>

                    <div class="basis-1/4 flex ">
                        <a href="/project/@project.ProjectId" class="basis-1/4">View</a>
                        @if (project.UserId == LoggedInUserId)
                {
                    <form action="/project/@project.ProjectId/delete" method="post">
                        <button>Delete</button>
                    </form>
                }
            </div>
        </div>
    }
</div>