<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://cdn.tailwindcss.com'></script>
</head>
<body>
    <div>
        <p>Submitted Info</p> 
        <p>Name: @ViewBag.Name</p> 
        <p>Location: @ViewBag.Location</p> 
        <p>FavLang: @ViewBag.FavLang</p> 
        <p>Comment: @ViewBag.Comment</p> 
    <a href="/"><button class="p-3 border-2">Go Back</button></a>
    </div>
    
</body>
</html>