@model Dish

<div>
    <span asp-validation-for="Name"></span>
    <label>Name</label>
    <input type="text" asp-for="Name" class="border-2 border-slate-300 rounded w-1/2">
</div>
<div>
    <span asp-validation-for="Calories"></span>
    <label>Calories</label>
    <input type="number" asp-for="Calories" class="border-2 border-slate-300 rounded w-1/2">
</div>
<div>
    <span asp-validation-for="Description"></span>
    <label>Description</label>
    <input type="text" asp-for="Description" class="border-2 border-slate-300 rounded w-1/2">
</div>
