<h1>All Dishes</h1>

@foreach (Dish d in ViewBag.AllDishes)
{
    <div class="w-1/2 justify-between flex">
    <p>@d.Name by @d.Chef.FirstName </p>

    @* <a asp-controller="Home" asp-action="DeleteDish">Delete</a> *@
    </div>
    
}