@{
    ViewData["Title"] = "Home Page";
}

@model MyViewModel

<div class="text-center">
    <h1 class=>Create a Dish</h1>
    <form asp-action="CreateDish" class="w-1/2 mx-auto">
        @await Html.PartialAsync("_DishForm", Model.Dish)
        @await Html.PartialAsync("_AddCreator")
        <button>Submit</button>
    </form>


</div>
