<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeddingPlanner</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WeddingPlanner.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PlanWedding">Plan A Wedding</a>
 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllWeddings">Weddings</a>
@if (Context.Session.GetInt32("UserId") != null)
{
    <form action="/logout" method="post">
    <button>Logout</button>
    </form>
}
    </header>
    <div class="">
        <main role="" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
