@{
    ViewData["Title"] = "Home Page";
}
@model LoginUser

<div class="text-center basis-[40%]">
    <h1>Login</h1>
    <form asp-action="Login" class="w-full [&>*]:flex [&>*]:justify-between ">
        <span asp-validation-for="Email"></span>
        <div class="">
            <label>Email: </label>
            <input type="email" asp-for="Email" class="border-2 border-slate-300 rounded ">
        </div>
        <span asp-validation-for="Password"></span>
        <div>

            <label>Password: </label>
            <input type="text" asp-for="Password" class="border-2 border-slate-300 rounded">
        </div>
        <button>Submit</button>
    </form>
</div>